# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Le projet le vrai/Le projet le vrai-csharp.sln
Le projet le vrai/Le projet le vrai-csharp.sln
Le projet le vrai/Le projet le vrai-csharp.sln
Le projet le vrai/Le projet le vrai-csharp.sln
Le projet le vrai/Le projet le vrai.sln
Le projet le vrai/Le projet le vrai.userprefs
Le projet le vrai/Library/assetDatabase3
Le projet le vrai/Library/CurrentLayout.dwlt
Le projet le vrai/Library/CurrentMaximizeLayout.dwlt
Le projet le vrai/Library/expandedItems
Le projet le vrai/Library/guidmapper
Le projet le vrai/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
